* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 0.5px solid yellow; */
  line-height: normal;
}

#root {
  background-color: #191414;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 30rem;
  width: 30rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
} 

.drag-line {
  color: #1db954;
  border: 0.25px solid #1db954 !important;
  background-color: #1db954;
  height: 0.25px;
  width: 100%;

}



